.main-section {
  background: linear-gradient(90deg, #3366ff, #c633ff);
  min-height: 90vh;
  color: white;
}


.avatars img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}


/* Past Events  */

.event-card {
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;

}

 .event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
} 

 .event-card img {
  transition: transform 0.4s ease;
}

.event-card:hover img {
  transform: scale(1.05);
} 



.event-card:hover .event-overlay {
  opacity: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(50, 50, 50, 0.226));
  /* You can also just use a solid color: background-color: rgba(0, 0, 0, 0.5); */
}


/* volunteerCTA */


#btn-signup {
  background-color: #262eca;
  border: none;
}

#btn-signup:hover {
  background-color:#3c42b6;
}

 /*  */

