@import url("https://fonts.googleapis.com/css2?family=Griffy&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:wght@400;700&display=swap");

/* navbar css */

.nav-title {
  font-family: "Griffy";
  font-weight: 600;
  letter-spacing: 6px;
  font-size: 30px;
  color: rgb(207, 8, 8) !important;
  text-shadow: 2px 2px 3px black;
}

.nav-link {
  font-weight: 700;
}

.nav-link:hover {
  color: rgb(163, 2, 2) !important;
  text-shadow: 1px 1px 1px black;
}

.active {
  color: rgb(163, 2, 2) !important;
  text-shadow: 1px 1px 1px black;
  /* border-bottom: 2px solid rgb(185, 184, 181); */
}

/* Ensure hamburger icon shows */
.navbar-toggler {
  background-color: transparent;
  outline: none;
}

.navbar-toggler-icon {
  width: 25px;
  height: 2px;
  background-color: black;
  display: block;
  position: relative;
}
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
}
.navbar-toggler-icon::before {
  top: -8px;
}
.navbar-toggler-icon::after {
  top: 8px;
}

/* Footer css  */
.footer-link a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

.footer-link a:hover {
  color: rgb(163, 2, 2) !important;
  text-shadow: 1px 1px 1px black;
}

.footer-link a.active {
  color: rgb(163, 2, 2) !important;
  text-shadow: 1px 1px 1px black;
}

.footer-link a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-link a:hover,
.footer-link a.active {
  color: rgb(163, 2, 2) !important;
  text-shadow: 1px 1px 1px black;
}

/* Optional: make icons look cleaner on hover */
footer a img:hover {
  filter: brightness(0.8);
}


.dev-farhan {
  /* /* color: red !important; */
  text-decoration: none;
}
